<!-- Separator above footer -->
<hr />

<!-- Footer -->
<div style="margin-top: 2rem; padding: 2rem 1.5rem; text-align: center;">
  <a class="button is-small is-rounded" href="https://github.com/paul-green-stone" target="_blank" aria-label="GitHub">
    <span class="icon is-small">
      <i class="fab fa-github"></i>
    </span>
  </a>
</div>